<div class='post-card'>
  <h3 class='post-header'>
    <%= post.Title %>
  </h3>
  <p class='post-desc'>
    <%= post.Text[0..250] %>
  </p>
  <p class='post-counter-data'>
    Comments: <%= post.CommentCounter %>, Likes: <%= post.LikeCounter %>
  </p>
</div>