<div class='user-card'>
  <img
    src= <%= user.Image %>
    alt='image of the user'
  >
  </img>
  <div class='user-content'>
    <h2 class='decription'>
      <%= user.Name %>
    </h2>
    <p class='post-counter'>
      Number of posts: <%= user.PostCounter %>
    </p>
  </div>
</div>