
  <div class='user-card .card-width flex'>
    <div class='user flex'>
      <img
        src= <%= user.Image %>
        alt='image of the user'
      >
      </img>
      <h2 class='description'>
        <%= link_to "/users/#{user.id}" do %>
          <%= user.Name %>
        <% end %>
      </h2>
    </div>
    <p class='post-counter end'>
      Number of posts: <%= user.PostCounter %>
    </p>
  </div>