<div class='container flex width'>

  <%= render partial: 'shared/user_card', locals: { user: @user }%>

  <% @posts.each do |post| %>
    <div class='post_with_comments width'>
      <%= render partial: 'shared/post_card', locals: { post: post }%>
      <div class='comment-card flex width border'>
        <h3>Comments</h3>
        <% post.most_recent_comments.each do |comment| %>
          <% if post.id == comment.post_id %>
            <%= render partial: 'shared/comment_card', locals: { comment: comment }%>
          <% else %>
            <p>
              There are no comments for this post
            </p>
            <% break %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>