<div class='form-container flex width'>
  <h1 class='post-form-header'>Create a new post</h1>

  <%= form_with model: @post, url: '/users/new_post' do |f| %>
      <%= f.text_field :Title, placeholder: 'Title' %>
      <%= f.text_area :Text, placeholder: 'Text' %>
    <div class='submission-container flex end'>
      <%= f.submit %>
    </div>
  <% end %>
</div>