/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 15rem;
  height: 100vh;
}

.flex {
  display: flex;
  flex-direction: column;
}

.width {
  width: 100%;
}

.container {
  margin-top: 3rem;
  height: 100%;
  gap: 3rem;
}

.user-card {
  flex-direction: row;
  margin-top: 0;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.user-content {
  justify-content: space-between;
  width: 80%;
}

h3,
h2,
p,
.post-counter-data {
  margin: 0;
}

.user-content p {
  align-self: flex-end;
}

.post-card,
.comment-card,
.post-details-container {
  gap: 1rem;
}

.comment-card,
.post-details-container {
  margin-top: 3rem;
}

.post-counter-data {
  align-self: flex-end;
}

.border {
  min-height: 4rem;
  padding: 1rem;
  border: 1px solid black;
}

.post-details-container {
  padding: 1rem;
}

img {
  height: 7rem;
  width: 7rem;
  border-radius: 5px;
}
