
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #eff0f3;
  height: 100%;
  padding: 1rem;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  align-items: flex-end;
  padding: 0.25rem 1rem;
  background: #fffffe;
  color: #2a2a2a;
  border-radius: 15px;
  filter: drop-shadow(0 1px 4px black);
}

.width {
  width: 100%;
}

.card-width {
  width: 100%;
}

.end {
  align-self: flex-end;
}

.container {
  margin: 3rem 0;
  max-height: 100%;
  gap: 2rem;
  padding: 0 15rem;
}

.user-card {
  background: #fffffe;
  flex-direction: row;
  margin-top: 0;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  box-shadow: 0 0 19px -3px rgb(0 0 0 / 36%);
  color: #0f0e17;
}

.user {
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}

.description {
  color: #0f0e17;
}

.user-bio {
  padding: 1rem;
  align-items: flex-start;
}

h3,
h2,
p {
  margin: 0;
}

.post-counter-data {
  color: #e53170;
}

.post-details-container .post-counter-data {
  color: #0f0e17;
}

a {
  text-decoration: none;
  color: inherit;
}

.user-bio h2 {
  color: #0d0d0d;
  margin-bottom: 1rem;
}

.user-bio p {
  color: #2a2a2a;
}

.post-card {
  color: #2a2a2a;
  border-bottom: 3px solid black;
  border-radius: 0%;
}

.post-card h3 {
  color: #0d0d0d;
}

.post-card,
.comment-card,
.post-details-container {
  gap: 1rem;
}

.post-details-container {
  background: #ff8e3c;
  margin-top: 3rem;
}

.post-card h3,
.post-desc {
  align-self: flex-start;
}

.post-header-with-counter {
  flex-direction: row;
  justify-content: space-between;
}

.border {
  min-height: 4rem;
  padding: 1rem;
  border-radius: 5px;
}

img {
  height: 7rem;
  width: 7rem;
  border-radius: 5px;
}

.form-container {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  background: #fffffe;
  padding: 2rem;
}

input,
textarea {
  width: 20rem;
  height: 2rem;
  margin-left: 5px;
  border: none;
}

.form-wrapper input {
  background: #eff0f3;
}

.form-container h1 {
  color: #0d0d0d;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

textarea {
  height: 5rem;
}

.comments textarea {
  width: 25rem;
}

.comment-card {
  align-items: flex-start;
  background: #fffffe;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.btn-wrapper {
  flex-direction: row;
}

.see-all-posts {
  padding: 0 1rem;
}

.user-bio .btn-wrapper {
  margin-top: 1rem;
}

.comment-btn a {
  align-self: flex-end;
}

.recent-posts {
  gap: 1rem;
}

.form-set {
  flex-direction: row;
}

.actions {
  width: 100%;
  display: flex;
  align-self: flex-end;
}

button,
.submission-container input,
.actions input {
  min-width: 5rem;
  background: #ff8e3c;
  color: #0f0e17;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 0 19px -3px rgb(0 0 0 / 36%);
  align-self: flex-end;
}

.actions input {
  width: 100%;
}

.post-details-container .btn {
  background: #0f0e17;
  color: #ff8e3c;
  justify-self: flex-end;
}

input:focus {
  outline: none;
}

button:hover,
.submission-container input:hover,
.post-details-container .btn:hover,
.actions input:hover {
  cursor: pointer;
}

.post-details-container .btn-wrapper {
  justify-content: flex-end;
}

.comment-container {
  align-items: flex-start;
  background: #ff8e3c;
}

.sign-up h2 {
  margin: 1rem;
}

.links-container a,
.links-container button {
  width: 100%;
}

.links-container {
  gap: 1rem;
  padding-left: 0.25rem;
}

.links-container p {
  margin: 1rem 0;
}

.remember {
  flex-direction: row;
  gap: 1rem;
}

.remember #user_remember_me {
  width: fit-content;
}

.notifications {
  display: flex;
  background: #2a2a2a;
  color: #eff0f3;
  width: fit-content;
  align-items: center;
  justify-content: center;
  margin: 0;
  align-self: center;
}

.nav button {
  background: none;
  border: none;
  padding: 0;
  box-shadow: none;
}
